# Package Managers
bower_components/
node_modules/
*npm-debug.log*
package-lock.json
yarn-error.log
yarn.lock

# Development
.eslintcache
.yo-rc.json

# Project specific
.debug
*.nsi
todo.md
license.txt
